meta:
  postgresql: postgresql://postgres@0.0.0.0 # PostgreSQL URL
  redis:
    staging: # Staging value
    prod: # Production value
  port:
    staging: # Staging value
    prod: # Production value
  spaces:
    endpoint: # Digital Ocean - Origin Endpoint URL
    buckets:
      - 
    access_key: # Digital Ocean - Access Key
    access_secret: # Digital Ocean - Access Secret
    ssl: # Enable SSL?

sites:
  frontend:
    staging: # Staging value
    prod: # Production value
  api:
    staging: # Staging value
    prod: # Production value
  instatus: https://status.select-list.xyz # Instatus Status Page URL