meta:
  postgresql: postgresql://postgres@0.0.0.0 # PostgreSQL URL
  redis:
    staging: # Staging value
    prod: # Production value
  port:
    staging: # Staging value
    prod: # Production value

sites:
  frontend:
    staging: # Staging value
    prod: # Production value
  api:
    staging: # Staging value
    prod: # Production value
  instatus: https://status.select-list.xyz # Instatus Status Page URL